tiltBallApp/.gradle/2.4/taskArtifacts/cache.properties
tiltBallApp/.gradle/2.4/taskArtifacts/cache.properties.lock
tiltBallApp/.gradle/2.4/taskArtifacts/fileHashes.bin
tiltBallApp/.gradle/2.4/taskArtifacts/fileSnapshots.bin
tiltBallApp/.gradle/2.4/taskArtifacts/outputFileStates.bin
tiltBallApp/.gradle/2.4/taskArtifacts/taskArtifacts.bin
tiltBallApp/.idea/compiler.xml
tiltBallApp/.idea/encodings.xml
tiltBallApp/.idea/gradle.xml
tiltBallApp/.idea/misc.xml
tiltBallApp/.idea/modules.xml
tiltBallApp/.idea/runConfigurations.xml
tiltBallApp/.idea/vcs.xml
tiltBallApp/.idea/workspace.xml
tiltBallApp/app/app.iml
tiltBallApp/app/build/generated/source/buildConfig/androidTest/debug/ca/yorku/cse/mack/demotiltballcse03076/test/BuildConfig.java
tiltBallApp/app/build/generated/source/buildConfig/debug/ca/yorku/cse/mack/demotiltballcse03076/BuildConfig.java
tiltBallApp/app/build/intermediates/classes/debug/ca/yorku/cse/mack/demotiltballcse03076/DemoTiltBallActivity$1.class
tiltBallApp/app/build/intermediates/classes/debug/ca/yorku/cse/mack/demotiltballcse03076/DemoTiltBallActivity$ScreenRefreshTimer.class
tiltBallApp/app/build/intermediates/classes/debug/ca/yorku/cse/mack/demotiltballcse03076/DemoTiltBallActivity.class
tiltBallApp/app/build/intermediates/classes/debug/ca/yorku/cse/mack/demotiltballcse03076/DemoTiltBallSetup.class
tiltBallApp/app/build/intermediates/classes/debug/ca/yorku/cse/mack/demotiltballcse03076/OneEuroFilter.class
tiltBallApp/app/build/intermediates/classes/debug/ca/yorku/cse/mack/demotiltballcse03076/RollingBallPanel.class
tiltBallApp/app/build/intermediates/incremental/mergeAssets/androidTest/debug/merger.xml
tiltBallApp/app/build/intermediates/incremental/mergeAssets/debug/merger.xml
tiltBallApp/app/build/intermediates/incremental/mergeResourcesandroidTest/debug/merger.xml
tiltBallApp/app/build/intermediates/incremental/mergeResourcesdebug/merger.xml
tiltBallApp/app/build/intermediates/manifest/androidTest/debug/AndroidManifest.xml
tiltBallApp/app/build/intermediates/manifests/full/debug/AndroidManifest.xml
tiltBallApp/app/build/intermediates/res/merged/debug/layout/main.xml
tiltBallApp/app/build/intermediates/res/merged/debug/layout/setup.xml
tiltBallApp/app/build/intermediates/res/merged/debug/layout/spinnerstyle.xml
tiltBallApp/app/build/intermediates/res/merged/debug/values/values.xml
tiltBallApp/app/build/intermediates/res/resources-debug-androidTest.ap_
tiltBallApp/app/build/intermediates/res/resources-debug.ap_
tiltBallApp/app/build/outputs/logs/manifest-merger-debug-report.txt
tiltBallApp/local.properties
tiltBallApp/tiltBallApp.iml
